<h2>Create New Landmark</h2>

<form method="POST" action="/landmarks">
  <p>
    <label for="landmark[name]">Name </label>
    <input type="text" name="landmark[name]" id="landmark[name]">
  </p>

  <h3>Titles</h3>
  <% @titles.each do |title| %>
    <label for="title<%= title.id %>"><%= title.name %></label>
    <input type="checkbox" id="title<%= title.id %>" name="titles[ids]">
  <% end %>

  <h3>Create New Title</h3>
  <input type="text" name="titles[name]">

  <h3>Landmarks</h3>
  <% @landmarks.each do |landmark| %>
    <label for="landmark<%= landmark.id %>"><%= landmark.name %></label>
    <input type="checkbox" id="landmark<%= landmark.id %>" name="landmarks[ids]">
  <% end %>

  <h3>Create New Landmark:</h3>
  <label for="landmarks[name]">Name: </label>
  <input type="text" name="landmarks[name]">
  <label for="landmarks[year]">Year: </label>
  <input type="text" name="landmarks[year]">

  <input type="submit" value="Create New Figure">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
